RPC_URL_TESTNET=https://eth-rpc-testnet.polkadot.io/
BUNDLER_PRIVATE_KEY=0x...
ENTRYPOINT_ADDRESS=0x...
CHAIN_ID=420420417
PAYMASTER_ADDRESS=0x...
PERMIT2_ADDRESS=0x...
QUOTE_SIGNER_PRIVATE_KEY=0x...
ADMIN_PRIVATE_KEY=0x...
TOKEN_REGISTRY_ADDRESS=0x...
CAMPAIGN_REGISTRY_ADDRESS=0x...
TREASURY_ADDRESS=0x...
PORT=3001
QUOTE_TTL_SECONDS=300
