PRIVATE_KEY=0x...
DEPLOYER_ADDRESS=0x...
TREASURY_ADDRESS=0x...
QUOTE_SIGNER_ADDRESS=0x...
ENTRYPOINT_ADDRESS=
PERMIT2_ADDRESS=
RPC_URL_TESTNET=https://eth-rpc-testnet.polkadot.io/
CHAIN_ID=420420417
ETHERSCAN_API_KEY=
